@font-face {
  font-family: "Canela Deck";
  src: url("/fonts/CanelaDeck-Bold-Trial.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "JT Selinadaniel Display";
  src: url("/fonts/Jt-Selinadaniel Display.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Bold";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}