html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 20px;
}

body{
  margin: 0;
  padding: 0;
}

h1, p, span {
  padding: 0;
  margin: 0;
}

#app {
  box-sizing: border-box;
  background-color: rgb(212, 212, 212);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}