@import "./fonts.css";

:root {
  --font-welcome: "JT Selinadaniel Display";
  --font-question : "Neue Montreal";
  --font-btn : "Neue Montreal Bold";
  --font-register : "Canela Deck";
  --color-text : #05525A;
  --color-btn : #D2D727;
}

html{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body{
  margin: 0;
  padding: 0;
}

h1, p, span {
  padding: 0;
  margin: 0;
}

#app {
  box-sizing: border-box;
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
